<center><h1>Welcome to RealtorPro</h1>

<%= link_to 'sign up', new_user_registration_path%> <br>
<%= link_to 'login', new_user_session_path%> <br>

<%= link_to 'Login/signup with Google', user_google_oauth2_omniauth_authorize_path%>


</center>
